{% extends 'other/base.html' %}

{% block title %}{{ user.username }}'s FitMe Account{% endblock %}
{% block content %}

    <p>Welcome {{ user.username|capfirst }}</p>
    <p>Your name is {{ user.first_name|capfirst }} {{ user.last_name|capfirst }}</p>
    <p>
        {% if current_weight %}
            Current Weight: {{ current_weight }} lb
        {% else %}
            No Weight Logged
        {% endif %}
    </p>
    <p>
        {% if current_body_fat %}
            Current Body Fat: {{ current_body_fat }} %
        {% else %}
            No Body Fat Logged
        {% endif %}
    </p>
    <p>Age: {{ age }}</p>
    <p>Height: {{ feet }} ft {{ inches }} inches</p>


{% endblock %}
