{% extends 'supplementation/base.html' %}

{% block title %}My Supplements{% endblock %}

{% block content %}
    <h3>My Supplements</h3>
    <h4>Current Supplements</h4>
    <ul>
        {% for supp in current_supps %}
            <li>
                <a href="{% url 'supplement_detail' supp.supplement.pk %}">{{ supp.supplement.name|capfirst }}</a>
                Started: {{ supp.date_started|date }}
                <a href="{% url 'supplement_set_log_end' supp.pk %}">End</a>
            </li>
        {% endfor %}
    </ul>

    <h4>Past Supplements</h4>
    <ul>
        {% for supp in past_supps %}
            <li>
                <a href="{% url 'supplement_detail' supp.0 %}">{{ supp.1|capfirst }}</a>
                <ol>
                    {% for entry in supp.2 %}
                        <li>
                            {% if entry.date_started == entry.date_ended %}
                                {{ entry.date_started|date }}
                            {% else %}
                                {{ entry.date_started|date }} - {{ entry.date_ended|date }}
                            {% endif %}
                            {% if not forloop.last %}
                                ,
                            {% endif %}
                        </li>
                    {% endfor %}
                </ol>
            </li>
        {% endfor %}
    </ul>


{% endblock %}