{% extends 'base/base.html' %}
{% load staticfiles %}
{% block head %}
    <link type="text/css" rel="stylesheet" href="{% static 'nutrition/base.css' %}">
{% endblock %}

{% block sidebar %}

    <li class="active"><a href="{% url 'nutrition_home' %}">Home</a></li>
    <li class="active"><a href="{% url 'search_foods' %}">Search Foods</a></li>
    <li class="active"><a href="{% url 'create_food' %}">Create Food</a></li>
    <li class="active has-sub"><a>View Logs</a>
        <ul>
            <li><a href="{% url 'day_log' %}">Daily</a></li>
            <li><a href="{% url 'week_log' %}">Weekly</a></li>
            <li class="last"><a href="{% url 'month_log' %}">Monthly</a></li>
        </ul>
    </li>
    <li class="active has-sub last"><a>Goals</a>
        <ul>
            <li><a href="{% url 'view_goals' %}">View Goals</a></li>
            <li class="last"><a href="{% url 'set_goals' %}">Set Goals</a></li>
        </ul>
    </li>
{% endblock %}