{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="{% static "base/base.css" %}"/>
    <link type="text/css" rel="stylesheet" href="{% static "base/top_menu/menu_bar.css" %}">
    <link type="text/css" rel="stylesheet" href="{% static "base/vertical_menu/styles.css" %}">
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{% static "base/top_menu/menu_bar.js" %}"></script>
    <script type="text/javascript" src="{% static "base/vertical_menu/script.js" %}"></script>

    <title>
        {% block title %}{{ pagetitle }}{% endblock %}
    </title>
</head>
<body>
<div id="top_bar">
    <div id="sse1">
        <div id="sses1">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'exercise_home' %}">Exercise</a></li>
                <li><a href="{% url 'nutrition_home' %}">Nutrition</a></li>
                <li><a href="{% url 'supplement_home' %}">Supplementation</a></li>
            </ul>
        </div>
    </div>
    <div id="login_box">
        {% if user.is_authenticated %}
            <div id="login_box_content" style="width: 200px;">
                <ul>
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </div>
        {% else %}
            <div id="login_box_content" style="width: 250px">
                <ul>
                    <li><a href="{% url 'login' %}">Sign In</a></li>
                    <li><a href="{% url 'create_account' %}">Create Account</a></li>
                </ul>
            </div>
        {% endif %}
    </div>
</div>
<div id="main">
    <div id="vertical_menu">
        <ul>
            {% block sidebar %}{% endblock %}
        </ul>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>