{% extends 'base/base.html' %}
{% load staticfiles %}
{% load  exercise_tags%}
{% block head %}
    <link type="text/css" rel="stylesheet" href="{% static "exercise/base.css" %}">
{% endblock %}

{% block sidebar %}
    <li class="active"><a href="{% url 'exercise_home' %}">Home</a></li>
    <li class="active has-sub"><a><span>Workouts</span></a>
        <ul>
            <li><a href="{% url 'my_workouts' %}"><span>My Workouts</span></a></li>
            <li><a href="{% url 'create_workout' %}"><span>Create Workout</span></a></li>
            <li><a href="{% url 'choose_workout_to_log' %}"><span>Record Workout</span></a></li>
            <li class="last"><a href="{% url 'workout_search' %}"><span>Find Workouts</span></a></li>
        </ul>
    </li>
    <li class="active has-sub"><a><span>Exercises</span></a>
        <ul>
            {% get_muscle_groups as muscle_groups %}
            <li class="has-sub"><a><span>Top Exercises</span></a>
                <ul>
                    <li><a href="{% url 'list_exercises' 'muscle' 'all' 'top' %}"><span>All</span></a></li>
                    {% for group in muscle_groups %}
                        {% if forloop.last %}
                            <li class="last"><a href="{% url 'list_exercises' 'muscle' group.name 'top' %}"><span>{{ group.name|capfirst }}</span></a></li>
                        {% else %}
                            <li><a href="{% url 'list_exercises' 'muscle' group.name 'top' %}"><span>{{ group.name|capfirst }}</span></a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
            <li class="has-sub"><a><span>All Exercises</span></a>
                <ul>
                    <li><a href="{% url 'list_exercises' 'muscle' 'all' 'all' %}"><span>All</span></a></li>
                    {% for group in muscle_groups %}
                        {% if forloop.last %}
                            <li class="last"><a href="{% url 'list_exercises' 'muscle' group.name 'all' %}"><span>{{ group.name|capfirst }}</span></a></li>
                        {% else %}
                            <li><a href="{% url 'list_exercises' 'muscle' group.name 'all' %}"><span>{{ group.name|capfirst }}</span></a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
            <li><a href="{% url 'exercise_search' %}"><span>Search Exercises</span></a></li>
            <li class="last"><a href="{% url 'create_exercise' %}"><span>Create Exercise</span></a></li>
        </ul>
    </li>
    <li class="last"><a href="{% url 'workout_logs' %}"><span>Workout Logs</span></a></li>
{% endblock %}