{% extends 'exercise/base.html' %}

{% block title %}New Workout{% endblock %}

{% block content %}

    {% if form.errors %}
        <p class="error">Error Creating Workout</p>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        <label for="name">Name: </label>
        <input id="name" name="name" type="text"><br>
        <label for="public">Make Workout Public? </label>
        <input id="public" name="public" type="checkbox"><br>
        <label for="desc_and_notes">Description and Notes: </label><br>
        <textarea id="desc_and_notes" name="desc_and_notes" rows="4"></textarea><br>

        <input type="submit" value="Create">
    </form>

{% endblock %}