{% extends 'exercise/base.html' %}

{% block title %}{{ workout.name|capfirst }}{% endblock %}

{% block content %}

    <h3>{{ workout.name|capfirst }}</h3>
    <h5>Created By: {{ workout.user.username|capfirst }}</h5>
    <h5>Created On: {{ workout.date_created }}</h5>

    <h5>Description and Notes</h5>
    <p>{{ workout.description }}</p>
    <br>
    <br>

    <table>
        <tr>
            <td>Order</td>
            <td>Exercise</td>
            <td>Sets</td>
            <td>Reps</td>
            <td>Rest</td>
            <td>Move Up</td>
            <td>Linked Above</td>
        </tr>

        {% for entry in exercise_entries %}
            <tr>
                <td>{{ entry.order_in_workout }}</td>
                <td><a href="{% url 'exercise_detail' entry.exercise.pk %}">{{ entry.exercise.name|capfirst }}</a></td>
                <td>{{ entry.goal_sets }}</td>
                <td>{{ entry.goal_reps_per_set }}</td>
                <td>{{ entry.goal_rest }}</td>
                <td><a href="{% url 'move_up' entry.pk %}">Up</a></td>
                {% if entry.linked_above %}
                    <td><a href="{% url 'unlink' entry.pk %}">Y</a></td>
                {% else %}
                    <td><a href="{% url 'link' entry.pk %}">N</a></td>
                {% endif %}
            </tr>
        {% endfor %}

    </table>
    <p><a href="{% url 'exercise_search' %}?workout={{ workout.pk }}">Add Exercises</a></p>
    <p><a href="{% url 'record_workout' workout.pk %}">Record</a></p>

{% endblock %}