{% extends 'exercise/base.html' %}

{% block title %}Add {{ exercise.name|capfirst }} to Workout{% endblock %}


{% block content %}
    <label for="workout_select">Workout: </label>
    <select id="workout_select" name="workout_select" form="add_to_workout">
        {% for workout in workouts %}
            {% if default_workout == workout.pk %}
                <option selected value="{{ workout.pk }}">{{ workout.name|capfirst }}</option>
            {% else %}
                <option value="{{ workout.pk }}">{{ workout.name|capfirst }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <form id="add_to_workout" action="" method="post">
        {% csrf_token %}
        <label for="sets">Sets: </label>
        <input id="sets" name="sets" type="number"><br>
        <label for="reps">Reps: </label>
        <input id="reps" name="reps" type="number"><br>
        <label for="rest">Rest: </label>
        <input id="rest" name="rest" type="number"><br>
        <label for="notes">Notes: </label>
        <textarea id="notes" name="notes" rows="2"></textarea><br>
        <input type="submit" value="Add">
    </form>
{% endblock %}