{% extends 'exercise/base.html' %}
{% load exercise_tags %}

{% block title %}
    {{ log.workout.name|capfirst }} {{ log.date|date }}
{% endblock %}

{% block content %}

    <h3>{{ log.workout.name|capfirst }} {{ log.date|date }}</h3>
    <ol>
        {% for exercise in exercises %}
            <li>
                <p>{{ exercise.exercise.name|capfirst }}</p>
                <ol>
                    {% for set in exercise|get_sets %}
                        <li>
                            <p>Set {{ forloop.counter }}: {{ set.weight }}x{{ set.reps }} Rest: {{ set.rest }}</p>
                        </li>
                    {% endfor %}
                </ol>
            </li>
        {% endfor %}
    </ol>

{% endblock %}